.rb-profile-link a, .rb-portfolio a{
  color: #000;
}
.rb-profile-link a:hover, .rb-portfolio a:hover{
  text-decoration: none
}
.rb-barra-pesquisa {
    width: 30%;
}
.rb-barra-pesquisa div {
    height: 2.5em;
}
.rb-perfil-link {
    color: #DDD;
}
.rb-perfil-link:hover {
    color: #BBB;
    text-decoration: none;
}
.rb-perfil-img {
    max-height: 35px;
    border-radius: 50%;
}
.rb-post-header, .rb-post-footer {
    padding: .75rem 1.25rem;
}
.rb-post-body {
    flex: 1 1 auto;
    padding: 1.25rem 2.5rem;
}
.rb-post-footer {
    display: flex;
    padding: .75rem 2rem;
    justify-content: space-around;
}
.rb-profilet {
    margin-bottom: 30px;
}
.rb-cardt-profile {
    min-height: 30rem;
    overflow-y: hidden;
}
.rb-cardt-profile > .card-body {
    display: flex;
    align-items: center;
}
.rb-cardb-profile {
    height: 20rem;
}
.rb-feed-profile {
    overflow-y: auto;
}

.rb-info-profile > .card-body {
    overflow-y: auto;
}
.rb-img-portfolio {
    width: 100%;
    max-height: 10rem;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-toggle::after {
    display:none;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
