body {
  background: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
    font-family: Helvetica;
    font-size: 4em;
    color: #fff;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 25px;
    text-shadow: 2px 2px #000000;
    text-align: center;
}

.cardoso{
  background: rgba(255,255,255,0.75);

}

main {
    height: 90vh;
}
